<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Meadowlark Travel</title>
    <link rel="stylesheet" href="bootstrap3.35/css/bootstrap(3.3.5).min.css">
    <script src="angular.js"></script>
</head>
<body ng-app="myApp">
{{{body}}}

</body>
</html>